extends layouts/default
include layouts/mixin/_mixin

block content
	main.with-aside
		aside
			.aside-inner
				nav.navigation
					include layouts/menu
		#main
			section
				.container.restrict
					.widget-block
						.widget-title.centered
							h5 帳號管理
							.widget-content
								table.rowed.centered.data-tables.normal
									thead
										tr
											th 使用者名稱
											th 電子郵件
											th 備註
											th 管理
									tbody
										each i in Array(20)
											tr
												td xxx
												td abc@aabbcc.com
												td 行銷部小王
												td
													a.btn.edit(href='account-edit.html', rel="modal:open") 編輯
													a.btn.delete(href='javascript:;') 刪除

