.controlgroup
	label 使用者名稱
	.controls
		input(type='text', readonly)
.controlgroup
	label 變更電子郵件
	.controls
		input(type='email')
.controlgroup
	label 變更密碼
	.controls
		input(type='password')
.controlgroup
	label 備註
	.controls
		input(type='text')
.call-action
	button.btn.basic(type='submit') 更新
