extends layouts/default
include layouts/mixin/_mixin
//Custom Header
block header

block content
	main
		#main
			section
				.container.restrict
					h1 Normal Paragraph
					p While you're waiting, dive into how to use Font Awesome. You'll want to add your embed code within the of each template or page that you want to use Font Awesome on. Then, check out the Font Awesome icons and examples to learn how drop icons right into your UI.
					h1 Vue.js TRYOUT
					button#modify(type='button') Modify
					ul#example-1
						li(v-for="item in items")
							|	{{ item.id }} + 
							span(v-if="greeting") xxx