extends layouts/default
include layouts/mixin/_mixin


block content
	main
		#main
			section#intro
				.intro-slider
					.slide
						a(href="javascript:;")
							img(src='images/slider/main-slide-1.png')
					.slide
						a(href="javascript:;")
							img(src='images/slider/main-slide-2.png')
					.slide
						a(href="javascript:;")
							img(src='images/slider/main-slide-3.png')
					.slide
						a(href="javascript:;")
							img(src='images/slider/main-slide-4.png')
				.intro-ads.table
					.table-c.t-4-12.block
						a(href="javascript:;")
							img(src='images/components/ad-gafa.png')
					.table-c.t-4-12.block
						.block-inner
							p FOLLOW RACO ON
							.share-links
								a.icons-facebook(href="javascript:;")

								a.icons-linkedin(href="javascript:;")

								a.icons-google(href="javascript:;")

								a.icons-youtube(href="javascript:;")
							p
								a(href='http://facebook.com/racoexpert', target='_blank') http://facebook.com/racoexpert

					.table-c.t-4-12.block
						a(href="javascript:;")
							img(src='images/components/ad-pom.png')

				.intro-slogan
					.container.restrict
						h1
							|	From Blue to Green
							small Comprehensive Range.
					a.learn-more(href="javascript:;")
						.icons-arrow-down
						span Learn More
			
			include layouts/product-category
			section#news
				.news-wrapper
					.news-inner
						.container.restrict
							h2 News
						.news-list
							ul
								li
									article
										time.posted April, 24th 2017
										.thumbnail
											a(href="javascript:;")
												img(src='images/components/news-thumbnail-1.png')
										.content
											h4
												a(href="javascript:;") Spoga gafa 2016
											.context
												p Spoga+gafa is the world's leading garden trade fair. It is held in the Colgne Trade Fair Centre and invites all the big names and major players to join together in this event… and RACO is one of them.
								li
									article
										time.posted April, 24th 2017
										.thumbnail
											a(href="javascript:;")
												img(src='images/components/news-thumbnail-2.png')
										.content
											h4
												a(href="javascript:;") Product of the Month
											.context
												p Find out about RACO latest range of new innovations and trend setting designs which bring an energy-saving for high efficiency pruning works for your garden life. RACO Mighty-Cut Cutting range ensures your garden life enjoyable & pleasant!!!
								li
									article
										time.posted April, 24th 2017
										.thumbnail
											a(href="javascript:;")
												img(src='images/components/news-thumbnail-3.png')
										.content
											h4
												a(href="javascript:;") COME & Visit RACO FACEBOOK
											.context
												p RACO Facebook will be on-line soon. Welcome to visit RACO Facebook to learn more about RACO !



			section#contact
				.contact-wrapper
					h1 Any Questions ?
					.contact-inner.container.restrict-l
						.contact-form
							form
								p
									|	Please contact us through the form below, or 
									a(href='javascript:;') find your nearest distributors.
								.row
									.grid.g-3-12
										.controlgroup
											label Name
											.controls
												input(type="text")
										.controlgroup
											label E-mail
											.controls
												input(type="email")
										.controlgroup
											label Country
											.controls
												.select-wrapper
													select
														option(value='0') Taiwan
									.grid.g-3-12
										.controlgroup
											label Phone No.
											.controls
												input(type="text")
										.controlgroup
											label Company
											.controls
												input(type="text")
										.controlgroup
											label Type
											.controls.check-group
												.check-item
													input#typeAgency(type="radio", name="type")
													label(for="typeAgency") Agency
												.check-item
													input#typeImporter(type="radio", name="type")
													label(for="typeImporter") Importer
									.grid.g-6-12
										.controlgroup
											label Subject
											.controls
												.select-wrapper
													select
														option(value='0') Technical Support
										.controlgroup
											label Message
											.controls
												textarea.full
								.call-action.right
									button.btn.basic(type='submit') SUBMIT