extends layouts/default
include layouts/mixin/_mixin

block content
	main.with-aside
		aside
			.aside-inner
				nav.navigation
					include layouts/menu
		#main
			section
				.container.restrict
					.controlgroup
						label Search
						.controls
							.select-wrapper
								select
									option Option
					.controlgroup
						label Search
						.controls
							.select-wrapper
								select
									option Option
					.controlgroup
						label Search
						.controls
							.select-wrapper
								select
									option Option

					.controlgroup
						label Search
						.controls
							.select-wrapper
								select
									option Option
