extends layouts/default
include layouts/mixin/_mixin


block content
	main
		#main
			#products
				include layouts/product-category

				.product-catelist-wrapper#product-list
					.product-catelist-inner(v-bind:class="class")
						.container.restrict-l
							h2 {{name}}
							ul.product-catelist
								li.subcategory(v-for="category in categories")
									.thumbnail
										a(href="javascript:;")
											img(v-bind:src="category.thumbnail")
									h5
										a(href="javascript:;") {{category.name}}
									ul
										li(v-for="category in category.category")
											a(href="javascript:;") {{category.name}}

block pagescripts
	script.
		var category = {
			"id": "1",
			"name": "Industrial Hand Tools",
			"line": "blue",
			"class": "industrial", // 分類 classname
			"categories":[
				{
					"id": "2",
					"name": "Super-Drive System",
					"thumbnail": "images/product/category/1-1.jpg",
					"category": [
						{
							"id": "99",
							"name": "Super-Drive Sockets"
						},
						{
							"id": "99",
							"name": "Super-Drive Wrenches"
						}
					]
				},
				{
					"id": "3",
					"name": "Wrenches",
					"thumbnail": "images/product/category/1-2.jpg",
					"category": [
						{
							"id": "99",
							"name": "Combination Wrenches"
						},
						{
							"id": "99",
							"name": "Double Ring Wrenches"
						},
						{
							"id": "99",
							"name": "Open End Wrenches"
						},
						{
							"id": "99",
							"name": "Socket Head Wreches"
						},
						{
							"id": "99",
							"name": "Heavy Duty & Slogging Wrenches"
						},
						{
							"id": "99",
							"name": "Special Wrenches"
						}
					]
				},
				{
					"id": "4",
					"name": "Hand Socket",
					"thumbnail": "images/product/category/1-3.jpg",
					"category": [
						{
							"id": "99",
							"name": "1/4\" Sockets"
						},
						{
							"id": "99",
							"name": "3/8\" Sockets"
						},
						{
							"id": "99",
							"name": "1/2\" Sockets"
						},
						{
							"id": "99",
							"name": "3/4\" Sockets"
						},
						{
							"id": "99",
							"name": "1\" Sockets"
						}
					]
				},
				{
					"id": "4",
					"name": "Torque Control",
					"thumbnail": "images/product/category/1-4.jpg",
					"category": [
						{
							"id": "99",
							"name": "Torque Tools"
						},
						{
							"id": "99",
							"name": "Insert Tools"
						},
						{
							"id": "99",
							"name": "Multipliers"
						}
					]
				},
				{
					"id": "5",
					"name": "Pullers & Extractors",
					"thumbnail": "images/product/category/1-5.jpg",
					"category": [
						{
							"id": "99",
							"name": "Gear Pullers"
						},
						{
							"id": "99",
							"name": "Accessories"
						},
						{
							"id": "99",
							"name": "Internal Extractors"
						},
						{
							"id": "99",
							"name": "Puller & Extractor Sets"
						},
						{
							"id": "99",
							"name": "Special Puller & Extractors"
						}
					]
				}
			]
		};
		var proList = new Vue({
			el:'#product-list',
			data: category
		});