extends layouts/default
include layouts/mixin/_mixin

block content
	main.with-aside
		aside
			.aside-inner
				nav.navigation
					include layouts/menu
		#main
			section
				.container.restrict
					/////// A SEARCH RESULT LIST HANDLEBARS TEMPLATE
					script#searchresult-list(type='text/x-handlebars-template')
						table.rowed.centered.data-tables.normal
							thead
								tr
									th 項次
									th 產品代號
									th 生產日期
									th 生產線別
									th 爐號
									th 工單號碼
									th 檢測總數
									th 良品數
									th 不良率
							tbody
								|	{{#each items}}
								tr
									td {{this.index}}
									td {{this.productslug}}
									td {{this.producedate}}
									td {{this.productline}}
									td {{this.heatno}}
									td
										a(href='javascript:;' data-trackno='{{this.trackno}}') {{this.trackno}}
									td {{this.amounttested}}
									td {{this.amountpassed}}
									td {{this.passedrate}}
								|	{{/each}}

					/////// A SEARCH RESULT ITEM HANDLEBARS TEMPLATE
					script#searchresult-item(type='text/x-handlebars-template')
					.container.restrict
						.row
							.grid.g-6-12
								canvas#paretochart
							.grid.g-6-12
								canvas#avgchart

			section
				form#sqm-searchform
					.container.restrict
						.widget-block
							.widget-title.centered
								h5 條件搜尋
								.widget-content
									.controlgroup
										label 代號
										.controls
											.select-wrapper.grid.g-3-12
												select#product-slug()
													option(value='A666') A666
													option(value='A667') A667
													option(value='A668') A668
													option(value='A669') A669
													option(value='A670') A670
													option(value='A671') A671
													option(value='A672') A672
											input#product-slug-text.grid.g-9-12(type='text', placeholder='輸入代號', name='productslug' required)
									.controlgroup
										label 日期區間
										.controls
											input.grid.g-6-12#startdate(type="text", placeholder="起始日期", name='startdate' required)
											input.grid.g-6-12#enddate(type="text", placeholder="結束日期", name='enddate' required)
									.controlgroup
										label 生產線別
										.controls
											.select-wrapper.full
												select#product-line(name='productline' required)
													option(value='ab1') AB1
													option(value='ab2') AB2
													option(value='ab3') AB3
													option(value='ab4') AB4
													option(value='ab5') AB5
													option(value='ab6') AB6
													option(value='ab7') AB7
													option(value='ab8') AB8
													option(value='ab9') AB9
													option(value='ab10') AB10

									.controlgroup
										label 爐號
										.controls
											input.full(type='text', name='heatno' required)
									.call-action
										button.btn.basic.full(type='submit') 搜尋
									.results

			section
				form#sqm-trackno-searchform
					.container.restrict
						.widget-block
							.widget-title.centered
								h5 工單單號搜尋
								.widget-content
									.controlgroup
										label 單號
										.controls
											input.full(type='text', placeholder='輸入單號', name='producttrackno' required)
									.call-action
										button.btn.basic.full(type='submit') 搜尋
