include mixin/_mixin
doctype html
html(lang="zh-TW")
  head
    script.
      document.documentElement.className += 'wf-loading';
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(property="og:title" content="中中親子樂園 Middlemiddle Kids 官方網站")
    meta(property="og:site_name" content="中中親子樂園 Middlemiddle Kids 官方網站")
    meta(property="og:url" content="http://middlemiddle.com")
    meta(property="og:image" content="http://middlemiddle.com/images/middlemiddlekids-og-image.jpg")
    meta(property="og:description" content="「中中親子樂園」是一個安全、舒適，能讓孩子與家長們真正放鬆遊戲的天地，一起動腦玩拼圖、疊積木，開心地推著嘎嘎作響的滑步車，並且在孩子的笑聲中享用健康美食。")

    meta(property="fb:app_id" content="1671181963161506")
    meta(name="description" content="「中中親子樂園」是一個安全、舒適，能讓孩子與家長們真正放鬆遊戲的天地，一起動腦玩拼圖、疊積木，開心地推著嘎嘎作響的滑步車，並且在孩子的笑聲中享用健康美食。")
    meta(name="keywords" content="親子餐廳,台中,北屯區,溜滑梯")

    link(type='image/x-icon' href="/images/favicon.ico")

    block pagetitle
      title 「中中親子樂園」Middlemiddle Kids 官方網站
    //-StyleSheets
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    style.
      /* FOUT */
      .wf-loading {
        opacity: 0;
      }
      .wf-active {
        opacity: 1;
        transition: .3s all ease-in;
      }
    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    link(href='http://vjs.zencdn.net/5.0.2/video-js.css', type='text/css', rel='stylesheet')
  body
    script.
      window.fbAsyncInit = function() {
          FB.init({
            appId      : '1671181963161506',
            xfbml      : true,
            version    : 'v2.5'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
    #sb-site
      #wrapper
        main
          block header
            section#introslider
              .intro-slider
                .item(style="background-image: url('images/slider/main-slide-4.jpg');")
                  .caption
                    h1.
                      For <span>kids</span>,<br>and their <span>parents.</span>
                    p.
                      快樂的孩子，愉快的週末 - 無價。
                .item(style="background-image: url('images/slider/main-slide-1.jpg');")
                  .caption
                    h1.
                      For <span>kids</span>,<br>and their <span>parents.</span>
                    p.
                      快樂的孩子，愉快的週末 - 無價。
                .item(style="background-image: url('images/slider/main-slide-2.jpg');")
                  .caption
                    h1.
                      For <span>kids</span>,<br>and their <span>parents.</span>
                    p.
                      快樂的孩子，愉快的週末 - 無價。
                .item(style="background-image: url('images/slider/main-slide-3.jpg');")
                  .caption
                    h1.
                      For <span>kids</span>,<br>and their <span>parents.</span>
                    p.
                      快樂的孩子，愉快的週末 - 無價。
              .overlay-layer
                #brand
                  a(href="javascript:;")
                    img(src="images/components/brand.svg")
                  .caption
                    p.
                      est. 2015 middlemiddle kids. All Rights Reserved.
                ul.sharebar
                  li
                    a.icons-facebook(href="https://www.facebook.com/middlemiddlekids/" target="_blank")
                  li
                    a.icons-instagram(href="https://www.instagram.com/middlemiddlekids" target="_blank")
                  //- li
                  //-   a.icons-twitter(href="javascript:;" target="_blank")
                  li
                    a.icons-mail(href="mailto:service@middlemiddle.com" target="_blank")
                

              include partials/navigator
          block content
            p this page is empty.
        footer
          block footer
            #footer
              ul
                li
                  a(href="javascript:;") Term of Use
                li
                  a(href="/privacy-policy") Privacy Policy
                li
                  a(href="javascript:;") Media Pack
              .additional
                ul
                  li.title 「中中親子樂園」
                  li.address 台中市北屯區松竹五路 172 號
                  li.tel (04)2437-1266
                  li.mail.
                    連絡信箱 <a href="mailto:service@middlemiddle.com">service@middlemiddle.com</a>

    .sb-slidebar.sb-left
      include partials/navigator-slide

    //-Scripts
    block scripts
      // build:js scripts/main.js
      script(src="scripts/bundle.js")
      // endbuild

      // Google Analytics: change UA-XXXXX-X to be your site's ID.
      script.
        //GA
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68400394-1', 'auto');
        ga('send', 'pageview');