doctype html
html.no-js
	head
		meta(charset='utf-8')
		title IRON Co.,ltd. Supplier Quality Management System
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon' href='apple-touch-icon.png')
		// Place favicon.ico and apple-touch-icon.png in the root directory


		// build:css styles/main.css
		link(rel='stylesheet' href='styles/main.css')
		// endbuild

		// build:js scripts/weypro.pace.js
		script(src='../bower_components/weyproui/build/scripts/weypro.pace.js')
		// endbuild

	body
		| <!--[if lt IE 10]>
		|   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		| <![endif]-->

		#wrapper
			block header
				header
					.header-inner.sticker
						.head-bar
							.container.row
								#brand
									a(href='javascript:;') IRON
								#miscellaneous
									a#mobileMenu-trigger(href='javascript:;')
										i.fa.fa-bars.fa-2x
						.container
							include navigation
			block content
			

		// Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		
		// build:js scripts/main.js
		script(src="scripts/bundle.js")
		// endbuild
		script(src="https://use.fontawesome.com/a5a9e13757.js")

		

		

		