doctype html
html.no-js
	head
		meta(charset='utf-8')
		title Gulp + Jade + Browserify + Vue Starter Boilerplate
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon' href='apple-touch-icon.png')
		// Place favicon.ico and apple-touch-icon.png in the root directory


		// build:css styles/main.css
		link(rel='stylesheet' href='styles/main.css')
		// endbuild

		// build:js scripts/weypro.pace.js
		script(src='../bower_components/weyproui/build/scripts/weypro.pace.js')
		// endbuild

	body
		| <!--[if lt IE 10]>
		|   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		| <![endif]-->

		#wrapper
			block header
				header
					.header-inner.sticker
						.head-bar
							.container.row
								#brand
									a(href='/')
										img(src="images/components/brand.png")
								#miscellaneous
									include navigation
									a#mobileMenu-trigger(href='javascript:;')
										i.fa.fa-bars.fa-2x
									a#search-btn(href="javascript:;")
										i.fa.fa-search.fa-2x
										span SEARCH
						#floatmenu
							include navigation

			block content
			block footer
				footer#footer
					.footer-wrapper
						.footer-inner.container.restrict-l
							.row
								.grid.g-3-12
									.footer-brand.centered
										a.icons-brand(href="javascript:;")
										.share-links
											a.icons-facebook(href="javascript:;")

											a.icons-linkedin(href="javascript:;")

											a.icons-google(href="javascript:;")

											a.icons-youtube(href="javascript:;")
								.grid.g-9-12
									.global-offices
										.block.office
											h4 Europe
											.office-info
												ul
													li
														b TEL / 
														span +886-2-2391-1351
													li
														b FAX / 
														span +886-2-2391-6776 / +886-2-2357-7319
													li
														b EMAIL / 
														span
															a(href="mailto:raco.tools@msa.hinet.net") raco.tools@msa.hinet.net
													li
														b ADDRESS / 
														span 8F, No. 118, Chung-Hsiao E.Road. Sec 2, Taipei 10053, Taiwan, R.O.C
										.block.office
											h4 Asia
											.office-info
												ul
													li
														b TEL / 
														span +886-2-2391-1351
													li
														b FAX / 
														span +886-2-2391-6776 / +886-2-2357-7319
													li
														b EMAIL / 
														span
															a(href="mailto:raco.tools@msa.hinet.net") raco.tools@msa.hinet.net
													li
														b ADDRESS / 
														span 8F, No. 118, Chung-Hsiao E.Road. Sec 2, Taipei 10053, Taiwan, R.O.C
										.block.office
											h4 Africa
											.office-info
												ul
													li
														b TEL / 
														span +886-2-2391-1351
													li
														b FAX / 
														span +886-2-2391-6776 / +886-2-2357-7319
													li
														b EMAIL / 
														span
															a(href="mailto:raco.tools@msa.hinet.net") raco.tools@msa.hinet.net
													li
														b ADDRESS / 
														span 8F, No. 118, Chung-Hsiao E.Road. Sec 2, Taipei 10053, Taiwan, R.O.C
							.copyrights Copyright © RACOMASTER ENTERPRISES CORP
			

		// Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		
		// build:js scripts/main.js
		script(src="scripts/bundle.js")
		// endbuild

		// FontAwsome CDN
		script(src="https://use.fontawesome.com/a5a9e13757.js")

		// Vue.js CDN
		script(src="https://npmcdn.com/vue/dist/vue.min.js")

		block pagescripts

		

		

		