//Normal Menu Example
ul.menu
	li
		a(href='javascript:;')
			|	NEWS
			span latest news
	li
		a(href='products.html')
			|	PRODUCTS
			span comprehensive range
	li
		a(href='javascript:;')
			|	OUR BRAND
			span Raco Expert
	li
		a(href='javascript:;')
			|	SUPPORT
			span contact us for further infos