section#product-category
	.product-category-wrapper
		.product-category-inner
			.blue-line
				.product-category(style="background-image:url('images/product/pattern-blue.png');")
					a(href="products.html")
						img(src='images/product/placeholder.png')
					.cover
						img(src='images/components/blue-line-tag.png')
				.product-category(style="background-image:url('images/product/product-category-1.png');")
					a(href="products.html", data-action="industrial")
						img(src='images/product/placeholder.png')
					a.cate-sticker(href="javascript:;")
						span Industrial Hand Tools
				.product-category(style="background-image:url('images/product/product-category-2.png');")
					a(href="products.html", data-action="workshop")
						img(src='images/product/placeholder.png')
					a.cate-sticker(href="javascript:;")
						span Workshop Equipment
				.product-category(style="background-image:url('images/product/product-category-3.png');")
					a(href="products.html", data-action="automotive")
						img(src='images/product/placeholder.png')
					a.cate-sticker(href="javascript:;")
						span Automotive Tools
				
			.green-line
				.product-category(style="background-image:url('images/product/pattern-green.png');")
					a(href="products.html")
						img(src='images/product/placeholder.png')
					.cover
						img(src='images/components/blue-line-tag.png')
				.product-category(style="background-image:url('images/product/product-category-4.png');")
					a(href="products.html", data-action="agriculture")
						img(src='images/product/placeholder.png')
					a.cate-sticker(href="javascript:;")
						span Agriculture Care
				.product-category(style="background-image:url('images/product/product-category-5.png');")
					a(href="products.html", data-action="home")
						img(src='images/product/placeholder.png')
					a.cate-sticker(href="javascript:;")
						span Home Garden Care
				.product-category(style="background-image:url('images/product/product-category-6.png');")
					a(href="products.html", data-action="water")
						img(src='images/product/placeholder.png')
					a.cate-sticker(href="javascript:;")
						span Water Management