nav#navigation
	a.sticky-brand(href="/#wrapper")
		img(src="images/components/sticky-brand.svg")
	include navigator-list
	a.js-mobile-trigger.mobile-trigger.icons-mobile-btn.sb-toggle-left(href='javascript:;')