ul
  li
    a(href="/#wrapper") HOME
  li
    a(href="/#fun") FUN
  li
    a(href="/#foods") FOODS
  li
    a(href="/#reservation") RESERVATION
  li
    a(href="/#map") LOCATION
  li
    a(href="/wall") PHOTOWALL
